
.fighting-graphic-container{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83m36e-3b58ca48-fe8a-456e-9ffc-a5a84eca6613.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDgzbTM2ZS0zYjU4Y2E0OC1mZThhLTQ1NmUtOWZmYy1hNWE4NGVjYTY2MTMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jOpoPaOypPatcb4k7flznTP9YiwUEX2q2BKoeWUPU74');
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.fighting-enemy-pokemon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fighting-enemy-pokemon h1{
    color: white;
}

.fighting-UI-container{
    display: flex;
    justify-content: space-between;
    height: 25vh;
}

.fighting-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.backpack {
    width: 100%;
}

.attack-heal-container{
    display: flex;
    height: 80%;
}

.fighting-button{
    font-size: 30px;
}
.fighting-button img {
    width: 50%;
    height: 50%;
}
.attack-button:disabled {
    background-color: #761e1e;

}
.attack-button {
    background-color: #ff3333;
    width: 100px;
    height: 100px;
    transform: translate(40px, 60px);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.heal-button:disabled {
    background-color: #0e5536;
    
}
.heal-button {
    transform: translateY(-5px);
    background-color: #1c9963;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.fight-or-flight:disabled{
    background-color: rgb(106, 106, 0);
}
.fight-or-flight{
    cursor: pointer;
    background-color: yellow;
    transform: translate(-20px, 20px);
    border: none;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}


.fight-backpack-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.backpack-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.backpack-bars{
    width: 50%;
}

.backpack-lvl{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.backpack-pokemon-container{
    cursor: pointer;
    min-width: 25%;
}

.backpack-pokemon-container:hover{
    filter: brightness(110%);
}

.fighter-stats{
    padding-left: 20px;
    padding-right: 20px;
}

.selected-background{
    backdrop-filter: brightness(130%);
}