

.pokemon-container{
    margin: 10px;
    width: 230px;
    height: 350px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pokemon-lvl{
    color: black;
    margin: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-header{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #FFDE00;
}

.pokemon-name{
    width: 100%;
    margin: 5px;
    text-align: center;
}

.pokemon-img{
    height: 50%;
}

.pokemon-stats-container{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #3B4CCA;
    align-items: center;
}

.pokemon-stat-bars{
    width: calc(90% - 50px);
    margin: 5px;
    font-size: 12px;
}

.pokemon-health-bar{
    background-color: red;
    margin-bottom: 2px;
}

.pokemon-xp-bar{
    background-color: rgb(116, 227, 255);
}

@media screen and (max-width: 760px) {
    .pokemon-container{
        margin: 10px;
        width: 160px;
        height: 260px;
    }
}
@media screen and (max-width: 480px) {
    .pokemon-container{
        margin: 10px;
        width: 120px;
        height: 220px;
        font-size: 12px;
    }
}