

.pokemon-container{
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pokemon-lvl{
    color: black;
    margin: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #3b4cca51;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-header{
    display: flex;
    align-items: center;
    width: 100%;
}

.pokemon-name{
    width: 100%;
    margin: 5px;
    text-align: center;
}

.pokemon-img{
    height: 250px;
}

.pokemon-stats-container{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.pokemon-stat-bars{
    width: 100%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pokemon-health-bar{
    border-radius: 16px;
    background-color: #ff3333;
}

.pokemon-xp-bar{
    border-radius: 16px;
    background-color: #3d3d3d9c;
    /* background-color: #74e3ff; */
}

@media screen and (max-width: 760px) {
    .pokemon-container{
        margin: 10px;
        width: 160px;
        height: 260px;
    }
}
@media screen and (max-width: 480px) {
    .pokemon-container{
        margin: 10px;
        width: 120px;
        height: 220px;
        font-size: 12px;
    }
}