.pokemon-list{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.gym-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.pokemon-button{
    height: 100%;
    width: 20px;
    border: 1px black dotted;
}
.pokemon-button:hover{
    filter: brightness(70%);
}

.pokemon-button.add{
    background-color: rgb(151, 254, 151);
}
.pokemon-button.remove{
    background-color: rgb(255, 130, 130);
}


@media screen and (max-width: 760px) {
.page-container{
    width: 100vw;
    height: 100%;
}
.gym-container{
    flex-direction: column;
}
.pokemon-list{
    flex-direction: column;
}
}