.pokemon-list{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: auto;
}
.gym-container{
    display: flex;
}

.backpack-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backpack-container{
    border: 3px solid darkgreen;
    text-align: center;
    margin: 15px;
    top: 0;
    position: sticky;
    background-color: rgb(47, 255, 137);
}


.open-backpack-button{
    height: 50px;
    width: 200px;
    margin: 15px;
}

.pokemon-button{
    height: 100%;
    width: 20px;
    border: 1px black dotted;
}
.pokemon-button:hover{
    filter: brightness(70%);
}

.pokemon-button.add{
    background-color: rgb(151, 254, 151);
}
.pokemon-button.remove{
    background-color: rgb(255, 130, 130);
}


@media screen and (max-width: 760px) {
.page-container{
    width: 100vw;
    height: 100%;
}
.gym-container{
    flex-direction: column;
}
.backpack-container{
    position: initial;
}
.backpack-pokemon{
    flex-direction: row;
    overflow-x: scroll;
}
.pokemon-list{
    flex-direction: column;
}
}