.master-container{
    display: flex;
    flex-direction: row;
}

.side-nav-bar{
    width: 250px;
    height: 100vh;
    display: flex;
    padding: 10px;
    min-height: auto;
    background-color: rgb(63, 63, 255);
    box-shadow: 1px 1px 10px;
}

.page-container{
    width: calc(100vw - 250px);
    height: 100%;
}


/* 
all veiwport sizes to do media queries with:

Min-width: 320px (smaller phone viewpoints)
Min-width: 480px (small devices and most phones)
Min-width: 768px (most tablets)
Min-width: 992px (smaller desktop viewpoints)
Min-width: 1200px (large devices and wide screens) 

*/

@media screen and (max-width: 760px) {
    .master-container{
        flex-direction: column;
    }
    .side-nav-bar{
        width: auto;
    }
    .page-container{
        width: 100vw;
    }
}