.master-container{
    display: flex;
    flex-direction: row;
}

.side-nav-bar{
    width: 250px;
    height: 100vh;
    display: flex;
    padding: 10px;
    background-color: blue;
    top: 0px;
    position: sticky;
}
.button-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.page-container{
    width: calc(100vw - 250px);
}

#btn{
    height: 50px;
    width: 100%;
    margin-bottom: 2px;
}

.logout{
    margin-top: 10px;
    background-color: rgb(255, 129, 129);
}